{%- comment -%}
  Renders group product color swatch for value

  Accepts:
  - value: {String} Option value that needs to be rendered
  - url: {String} Renders a link instead of a radio input
  - target_product: {Object} Shopify product object

  Usage:
  {%- render 'variant-picker-options--color', value: group_product_value, url: group_product.url, target_product: group_product -%}
{%- endcomment -%}

{%- assign color_value = blank -%}
{%- if target_product != blank and option_name != blank and option_name != 'Color' -%}
  {%- for option in target_product.options_with_values -%}
    {%- if option.name == 'Color' -%}
      {%- assign total_values = option.values | size -%}
      {%- assign last_value_index = total_values | minus: 1 -%}
      {%- assign color_value = option.values[last_value_index] -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- if url -%}
  {%- assign variant = null -%}

  {%- for product_variant in target_product.variants -%}
    {%- for product_variant_option in product_variant.options -%}
      {%- if product_variant_option == value -%}
        {%- assign variant = product_variant -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}

<div class="swatch__option" data-swatch="{{ value }}">
    <a href="{{ url }}?variant={{ variant.id }}" data-option-name="{{ option_name }}">
        <label for="Option{{ option.position }}-{{ value }}" class="form__option-label {% if option_disabled %}swatch--disabled disabled{% endif %}">
            <span class="form__option-label-inner form__option-label-inner-{{ value | handle }}"></span>
            <span class="form__option-label-visually-hidden">{{ value }}</span>
        </label>
      </a>
</div>
{%- else -%}

    <div class="swatch__option" data-swatch="{{ value }}">
        <input type="radio"
            data-single-option-selector
            id="Option{{ option.position }}-{{ value }}"
            value="{{ value | escape }}"
            name="options[{{ option.name }}]"
            data-index="option{{ option.position }}"
            class="sr-only {% if option_disabled %}swatch--disabled disabled{% endif %}"
            {% if option.selected_value == value %}checked{% endif %}>
        <label for="Option{{ option.position }}-{{ value }}" class="form__option-label {% if option_disabled %}swatch--disabled disabled{% endif %}">
            <span class="form__option-label-inner form__option-label-inner-{{ value | handle }}"></span>
            <span class="form__option-label-visually-hidden">{{ value }}</span>
        </label>
    </div>
{%- endif -%}
