{%- comment -%}
  Renders text or color swatches for product values based on online inventory level.
  For a swatch created by collection, see `variant-picker-options--color.liquid` and `variant-picker-options--text.liquid`.

  Usage:
  {%- render 'variant-picker-options--color', value: group_product_value, url: group_product.url, target_product: group_product -%}

  Note:
  variants_havailable_arr is an array of booleam values for variants that are available in atleast 1 store, but not in the warehouse. Customers can select these items, but can't add them to cart
{%- endcomment -%}

{%- comment -%}
use this to set the availability based on the online store's inventory
{%- liquid
    assign variants_available_arr = product.variants | map: 'available'
    assign variants_havailable_arr = ''
    assign variants_option1_arr   = product.variants | map: 'option1'
    assign variants_option2_arr   = product.variants | map: 'option2'
    assign variants_option3_arr   = product.variants | map: 'option3'
    assign swatches               = product.metafields.iamota.swatches.value

    for variant in product.variants
        assign online_inventory_level = variant.metafields.inventory_levels['66113274052'] | default: 0
        if online_inventory_level >= 1
            assign variants_havailable_arr = variants_havailable_arr | append: 'true,'
        else
            assign variants_havailable_arr = variants_havailable_arr | append: 'false,'
        endif
    endfor

    assign variants_havailable_arr = variants_havailable_arr | split: ','
-%}
{%- endcomment -%}

{%- comment -%}
use this to set the availability based on the combined inventory of every location

sum must be greater than 2
{% endcomment %}

{%- liquid
    assign variants_available_arr = product.variants | map: 'available'
    assign variants_havailable_arr = ''
    assign variants_option1_arr   = product.variants | map: 'option1'
    assign variants_option2_arr   = product.variants | map: 'option2'
    assign variants_option3_arr   = product.variants | map: 'option3'
    assign swatches               = product.metafields.iamota.swatches.value

    for variant in product.variants
        assign inventory_level = variant.inventory_quantity | default: 0
        if inventory_level >= 2
            assign variants_havailable_arr = variants_havailable_arr | append: 'true,'
        else
            assign variants_havailable_arr = variants_havailable_arr | append: 'false,'
        endif
    endfor

    assign variants_havailable_arr = variants_havailable_arr | split: ','
-%}


{%- for value in option.values -%}
    {%- liquid
        assign option_disabled = true

        for option1_name in variants_option1_arr
            case option.position
            when 1
                if variants_option1_arr[forloop.index0] == value and variants_havailable_arr[forloop.index0] == 'true'
                    assign option_disabled = false
                endif
            when 2
                if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_havailable_arr[forloop.index0] == 'true'
                    assign option_disabled = false
                endif
            when 3
                if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_havailable_arr[forloop.index0] == 'true'
                    assign option_disabled = false
                endif
            endcase
        endfor
    -%}
    {% if swatch_type == "text" or swatch_type == "color" %}

        <div class="swatch__option" data-swatch="{{ value }}">
            <input type="radio"
                data-single-option-selector
                id="Option{{ option.position }}-{{ value }}"
                value="{{ value | escape }}"
                name="options[{{ option.name }}]"
                data-index="option{{ option.position }}"
                class="sr-only {% if option_disabled %} clickable-disabled  swatch--disabled{% endif %}"
                {% if option.selected_value == value %}checked{% endif %}
                {% if option_disabled %}clickable-disabled swatch--disabled{% endif %}>
            <label for="Option{{ option.position }}-{{ value }}" class="form__option-label {% if option_disabled %}clickable-disabled swatch--disabled{% endif %}">
                <span class="form__option-label-inner form__option-label-inner-{{ value | handle }}"></span>
                <span class="form__option-label-visually-hidden">{{ value }}</span>
            </label>
        </div>
    {% else %}
        <option
            value="{{ value | escape }}"
            {% if option.selected_value == value %}selected="selected"{% endif %}
            {% if option_disabled %}clickable-disabled swatch--disabled{% endif %}>
            {{ value }}
        </option>
    {% endif %}

{%- endfor -%}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const swatchOptions = document.querySelectorAll('.swatch__option');
    
        function updateSwatchStates() {
            swatchOptions.forEach(swatch => {
                const input = swatch.querySelector('input');
                const label = swatch.querySelector('label');
    
                if (label.classList.contains("clickable-disabled")) {
                    label.classList.add('swatch--disabled', 'clickable-disabled');
                } else {
                    label.classList.remove('swatch--disabled', 'clickable-disabled');
                }
            });
        }
    
        // Handle swatch option click behavior  
        swatchOptions.forEach(swatch => {
            swatch.addEventListener('click', (event) => {
                const link = swatch.querySelector('a'); // Check for direct child <a>
                if (link) {
                    event.preventDefault(); // Prevent any default behavior
                    window.location.href = link.href; // Redirect to the <a> URL
                } else {
                    setTimeout(() => {
                        updateSwatchStates();
                        window.location.reload(); // Reload the page if no <a> is present
                    }, 50);
                }
            });
        });
    
        // Initial state update on page load 
        updateSwatchStates();
    });
</script>

