{%- comment -%}
  Renders text or color swatches for product values based on online inventory level.
  variants_havailable_arr: Array of booleans for variants available in at least one store but not in the warehouse.
  variants_available_arr: Array of booleans for variants with inventory in any location.
{%- endcomment -%}

{%- liquid
    assign variants_available_arr = ''
    assign variants_havailable_arr = ''
    assign variants_option1_arr   = product.variants | map: 'option1'
    assign variants_option2_arr   = product.variants | map: 'option2'
    assign variants_option3_arr   = product.variants | map: 'option3'
    assign swatches               = product.metafields.iamota.swatches.value

    for variant in product.variants
        assign total_inventory = 0

        for inventory_level in variant.metafields.inventory_levels
            assign total_inventory = total_inventory | plus: inventory_level[1]
        endfor

        if total_inventory > 0
            assign variants_available_arr = variants_available_arr | append: 'true,'
        else
            assign variants_available_arr = variants_available_arr | append: 'false,'
        endif

        assign online_inventory_level = variant.metafields.inventory_levels['66113274052'] | default: 0
        if online_inventory_level >= 1
            assign variants_havailable_arr = variants_havailable_arr | append: 'true,'
        else
            assign variants_havailable_arr = variants_havailable_arr | append: 'false,'
        endif
    endfor

    assign variants_available_arr = variants_available_arr | split: ','
    assign variants_havailable_arr = variants_havailable_arr | split: ','
-%}

{%- for value in option.values -%}
    {%- liquid
        assign option_disabled = true

        for variant_index in (0..variants_option1_arr.size)
            case option.position
            when 1
                if variants_option1_arr[variant_index] == value and variants_havailable_arr[variant_index] == 'true'
                    assign option_disabled = false
                endif
            when 2
                if variants_option1_arr[variant_index] == product.selected_or_first_available_variant.option1 and 
                   variants_option2_arr[variant_index] == value and 
                   variants_havailable_arr[variant_index] == 'true'
                    assign option_disabled = false
                endif
            when 3
                if variants_option1_arr[variant_index] == product.selected_or_first_available_variant.option1 and 
                   variants_option2_arr[variant_index] == product.selected_or_first_available_variant.option2 and 
                   variants_option3_arr[variant_index] == value and 
                   variants_havailable_arr[variant_index] == 'true'
                    assign option_disabled = false
                endif
            endcase
        endfor
    -%}

    {% if swatch_type == "text" or swatch_type == "color" %}
        <div class="swatch__option" data-swatch="{{ value }}">
            <input type="radio"
                data-single-option-selector
                id="Option{{ option.position }}-{{ value }}"
                value="{{ value | escape }}"
                name="options[{{ option.name }}]"
                data-index="option{{ option.position }}"
                class="sr-only {% if option_disabled %}swatch--disabled disabled{% endif %}"
                {% if option.selected_value == value %}checked{% endif %}
                {% if option_disabled %}disabled{% endif %}>
            <label for="Option{{ option.position }}-{{ value }}" class="form__option-label {% if option_disabled %}swatch--disabled disabled{% endif %}">
                <span class="form__option-label-inner form__option-label-inner-{{ value | handle }}"></span>
                <span class="form__option-label-visually-hidden">{{ value }}</span>
            </label>
        </div>
    {% else %}
        <option
            value="{{ value | escape }}"
            {% if option.selected_value == value %}selected="selected"{% endif %}
            {% if option_disabled %}disabled{% endif %}>
            {{ value }}
        </option>
    {% endif %}
{%- endfor -%}


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const swatchOptions = document.querySelectorAll('.swatch__option');
    
        function updateSwatchStates() {
            swatchOptions.forEach(swatch => {
                const input = swatch.querySelector('input');
                const label = swatch.querySelector('label');
    
                if (label.classList.contains("disabled")) {
                    label.classList.add('swatch--disabled', 'disabled');
                } else {
                    label.classList.remove('swatch--disabled', 'disabled');
                }
            });
        }
    
        // Handle swatch option click behavior  
        swatchOptions.forEach(swatch => {
            swatch.addEventListener('click', (event) => {
                const link = swatch.querySelector('a'); // Check for direct child <a>
                if (link) {
                    event.preventDefault(); // Prevent any default behavior
                    window.location.href = link.href; // Redirect to the <a> URL
                } else {
                    setTimeout(() => {
                        updateSwatchStates();
                        window.location.reload(); // Reload the page if no <a> is present
                    }, 50);
                }
            });
        });
    
        // Initial state update on page load 
        updateSwatchStates();
    });
</script>

