{% liquid
    comment
        Get related group collection if the product has a `prodGroup` tag
    endcomment
    assign group_collection = null
    for tag in product.tags
        if tag contains 'prodGroup::'
            assign group_name = tag | split: '::' | last | strip
            for coll in product.collections
                if coll.title == group_name
                    assign group_collection = coll
                    break
                endif
            endfor
        endif
    endfor
%}

{%- liquid
    assign variants_available_arr = '' -%}
{%- for variant in product.variants -%}
    {%- assign online_inventory_level = variant.metafields.inventory_levels['66113274052'] | default: 0 -%}
    {%- if online_inventory_level >= 1 -%}
        {%- assign variants_available_arr = variants_available_arr | append: 'true,' -%}
    {%- else -%}
        {%- assign variants_available_arr = variants_available_arr | append: 'false,' -%}
    {%- endif -%}
{%- endfor -%}
{%- assign variants_available_arr = variants_available_arr | split: ',' -%}

{% unless product.has_only_default_variant and group_collection == null %}
    <div class="product__container">
        <iam-variant-picker class="variant-picker">
            {%- for option in product.options_with_values -%}
                {%- liquid
                    assign downcase_option_name = option.name | downcase
                    assign swatch_type = false
                -%}

                {% if circle_swatches contains downcase_option_name or option.name contains "(Color)" %}
                    {% assign swatch_type = "color" %}
                {% elsif text_swatches contains downcase_option_name or option.name contains "(Size)" %}
                    {% assign swatch_type = "text" %}
                {% endif %}

                <div class="selector-wrapper js form__field form__field--swatches form__field--radio-{{ swatch_type }}">
                    <div class="form__element" id="option{{ option.position }}">

                        <p class="swatch__title" data-swatch-option="option{{ option.position }}">{{ option.name }}: <span class="swatch__subtitle">{{ option.selected_value }}</span></p>
                        {% if option.name contains "Size" %}
                            <button type="button" class="button--primary button--text modal__trigger" data-modal-target="size-guide">Size Guide</button>
                        {% endif %}

                        {% if swatch_type == 'color' %}
                            {% liquid
                                if group_collection.products_count > 1 and forloop.first
                                    for group_product in group_collection.products
                                        if group_product == product
                                            render 'variant-picker-options', product: product, option: option, swatch_type: 'color'
                                        else
                                            for group_product_value in group_product.options_with_values[0].values
                                                render 'variant-picker-options--color', value: group_product_value, url: group_product.url, target_product: group_product
                                            endfor
                                        endif
                                    endfor
                                else
                                    render 'variant-picker-options', product: product, option: option, swatch_type: 'color'
                                endif
                            %}
                        {% else %}
                            {% liquid
                                if group_collection.products_count > 1 and forloop.first
                                    for group_product in group_collection.products
                                        if group_product == product
                                            render 'variant-picker-options', product: product, option: option, swatch_type: 'text'
                                        else
                                            for group_product_value in group_product.options_with_values[0].values
                                                render 'variant-picker-options--text', value: group_product_value, url: group_product.url, target_product: group_product
                                            endfor
                                        endif
                                    endfor
                                else
                                    render 'variant-picker-options', product: product, option: option, swatch_type: 'text'
                                endif
                            %}
                        {% endif %}
                    </div>
                </div>
            {%- endfor -%}

            <script type="application/json">
                {{ product.variants | json }}
            </script>
        </iam-variant-picker>
    </div>
{% endunless %}

<select name="id" class="no-js" data-product-select>
    {% for variant in product.variants %}
        {% assign variant_index = forloop.index0 %}
        <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% if variants_available_arr[variant_index] == 'false' %}disabled="disabled"{% endif %}
            value="{{ variant.id }}" data-option-title="{{ variant.title }}">
            {{ variant.title }}
        </option>
    {% endfor %}
</select>
