<div class="form-reset-password">
    <div class="page-header page-header--account-form">
        <div class="page-header__content">
            <h1 class="page-header__title">{{ 'customer.reset_password.title' | t }}</h1>
            <div class="page-header__subtitle">{{ 'customer.reset_password.subtext' | t: email: email }}</div>
        </div>
    </div>
    <div class="page-section page-section--reset-password">
        {% form 'reset_customer_password', class: 'form form--login' %}
            <div class="form__wrapper form__wrapper--default">
                {% if form.errors != blank %}
                    <div class="form__error-message">
                        {% for field in form.errors %}
                            <div class="form__error">
                                {{ form.errors.messages[field] }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form__field form__field--input">
                    <label for="ResetPassword" class="form__label">
                        {{ 'customer.reset_password.password' | t }}
                    </label>
                    <input type="password"
                        name="customer[password]"
                        id="ResetPassword"
                        class="form__control form__input"
                        placeholder="{{ 'customer.reset_password.password' | t }}"
                        required>
                </div>
                <div class="form__field form__field--input">
                    <label for="PasswordConfirmation" class="form__label">
                        {{ 'customer.reset_password.password_confirm' | t }}
                    </label>
                    <input type="password"
                        name="customer[password_confirmation]"
                        id="PasswordConfirmation"
                        class="form__control form__input"
                        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                        required>
                </div>

                <div class='form__field'>
                    <button type="submit" class="button button--primary form__button">
                        {{ 'customer.reset_password.submit' | t }}
                    </button>
                </div>
            </div>
        {% endform %}
    </div>
</div>
