<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {% endif %}

    <title>{{ shop.name }}</title>

    {%- if page_description -%}
        <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'style-tags', layout: 'theme' %}
    {% render 'script-tags', layout: 'theme' %}

    {{ content_for_header }}
</head>

<body class="template-password">
  <main role="main" id="MainContent" class="main container layout--one-column">
      {{ content_for_layout }}
  </main>
</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    "logo": "https:{{ section.settings.logo.src | image_url: width: section.settings.logo.width }}",
  {% endif %}
  "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_linkedin_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
