<div class="faq-block">
    {% if section.settings.accordion-section-title != blank %}
        <h2 class="faq-block__h2 h3">{{ section.settings.accordion-section-title }}</h2>
    {% endif %}

    {% if section.settings.accordion-section-content != blank %}
        <div class="faq-block__description">{{ section.settings.accordion-section-content }}</div>
    {% endif %}

    {% if section.blocks.size > 0 %}
        <div class="accordion accordion--default js-accordion" data-collapse-all="">
            {% for block in section.blocks %}
                <div id="accordion-{{ block.id }}" class="accordion__item js-accordion__item">
                    <h3 class="accordion__title h6">
                        <button type="button" class="accordion__button js-accordion__button" id="accordion-{{ block.id }}--button" aria-controls="accordion--{{ block.id }}--content" aria-expanded="false">
                            {% if block.settings.title != blank %}
                                {{ block.settings.title }}
                            {% endif %}

                            <span class="accordion__icon">
                                {% render 'icon', name: 'arrow--up', class: 'accordion__icon--close svg--baseline' %}
                                {% render 'icon', name: 'arrow--down', class: 'accordion__icon--open svg--baseline' %}
                            </span>
                        </button>
                    </h3>

                    <div id="accordion--{{ block.id }}--content" class="accordion__content js-accordion__content" role="region" aria-labelledby="accordion-{{ block.id }}--button" hidden>
                        {% if block.settings.accordion-content != blank %}
                            {{ block.settings.accordion-content }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="faq-block__footer">
        {% if section.settings.faq_block_button_text != blank and section.settings.faq_block_button_link != blank %}
            <a href="{{ section.settings.faq_block_button_link }}" class="button button--secondary">{{ section.settings.faq_block_button_text }}</a>
        {% endif %}
    </div>
</div>


{% schema %}
{
    "name": "Accordion",
    "tag": "section",
    "class": "page-section page-section--faq page-section--no-gap page-section--full-bleed",
    "settings": [
        {
            "type": "text",
            "id": "accordion-section-title",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "accordion-section-content",
            "label": "Subheading"
        },
        {
            "type"  : "text",
            "id"    : "faq_block_button_text",
            "label" : "Button Label"
        },
        {
            "type"  : "url",
            "id"    : "faq_block_button_link",
            "label" : "Button Link"
        }
    ],
    "blocks": [
        {
            "type": "accordion",
            "name": "Accordion Item",
            "limit": 10,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "accordion-content",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Accordion",
            "category": "Components"
        }
    ]
}
{% endschema %}
