
<div id="Login" class="page-content">
    {% form 'storefront_password', class: 'form form--password' %}
        <div class="form__wrapper">
            <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
            {% if form.errors != blank %}
                <div class="form__error-message">
                    {% for field in form.errors %}
                        <div class="form__error">
                            {{ field | capitalize }} {{ form.errors.messages[field] }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form__field form__field--input {% if form.errors != blank %} form__field--invalid{% endif %}">
                <label for="password" class="form__label">
                    {{ 'general.password_page.login_form_password_label' | t }}
                </label>
                <label for="password" generated="true" class="error form__error"></label>

                <input type="password"
                    name="password"
                    class="form__control form__input"
                    id="Password"
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            </div>

            <div class="form__field">
                <button type="submit" name="commit" class="button button--primary">
                    {{ 'general.password_page.login_form_submit' | t }}
                </button>
            </div>
        </div>
    {% endform %}
</div>

{% schema %}
{
    "name": "Password Form",
    "tag": "section",
    "class": "page-section page-section--page page-section--password-page"
}
{% endschema %}
